body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 5px;
}

.time-line {
  width: 500px;

}

.tweet-box {
  width: 400px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
}

.avatar-box {
  width: 10%;
  float: left;
  display: inline-block;
}

.tweet-content {
  width: 90%;
  margin-left: 10px;
}

.avatar {
  width: 50px;
  border-radius: 50px;
}

.tweet-name {
  font-weight: bold;
  font-size: 18px;
}

.reply-button {
  width: 30px;
  height: 30px;
  background: url("assets/reply.svg") no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  display: inline-block;
  margin-right: 20px;
}

.reply-button:hover {
  width: 30px;
  height: 30px;
  background: url("assets/hover-reply.svg") no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  display: inline-block;
  margin-right: 20px;
}

.like-button {
  width: 30px;
  height: 30px;
  background: url("assets/unliked.svg") no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  display: inline-block;
}

.like-button:hover {
  width: 30px;
  height: 30px;
  background: url("assets/hoverlike.svg") no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
}

.unlike-button {
  width: 30px;
  height: 30px;
  background: url("assets/liked.svg") no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  display: inline-block;
}



.likes {
  display: inline-block;
  position: relative;
  top: -8px;
}
